# Part 2: Data Analytics 
(Raj Dhakan, xn23972)
***
## Importing Libraries

In [93]:
import json
import pandas as pd
import requests
import numpy as np
import time
from sigfig import round
import yfinance as yf

## Step 1: Crawling Real-World Datasets
***
The dataset that is extracted is about S&P500 stocks. S&P500 is a common equity indicies which include 500 of the largest companies listed on stock exchanges in the United States. 

First, the table of S&P500 companies is scarped from Wikipedia's __[S&P500 Companies](https://en.wikipedia.org/wiki/List_of_S%26P_500_companies)__ homepage. The columns of interest from this table are: Symbol of the stock (e.g. AAPL for Apple Inc.), Security (i.e. the company name), Global Industry Classification Standard (GICS, i.e. field of work such as Tech, Finance, Healthcare etc) sector, and Headquarters Location. 

Second, common key metrics used in analysing stocks are scraped from __[Yahoo Finance](https://finance.yahoo.com/)__. The key metrics of interest are: Market Capitilisation, Revenue, Profit Margin, Earning per Share, Profit to Earnings ratio and Profit to Earning Growth ratio (5yr forecasted). These metrics are scraped by taking the symbols from the table acquired from Wikipedia and using them to create a url to the respective stock's statistics page (e.g. __https://finance.yahoo.com/quote/AAPL/key-statistics?p=AAPL__ for Apple Inc.)

The two tables are then merged and saved as `SnP500_raw.csv` in the directory of this jupyter notebook

<div class="alert alert-block alert-info">
<b>Note:</b> The data extracted from Yahoo Finance is accurate to date 08/12/2023.
</div>

In [9]:
# extracting list of SnP 500 companies from Wikipedia
url_link= 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
response = requests.get(url_link)
SnP500_raw = pd.read_html(response.text)[0]
SnP500_raw.head()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [10]:
def yahoo_api_statistics(symbol:str):
    '''
    Returns a list of metrics commonly used to evaluate stocks.

            Parameters:
                    symbol (str): Stock symbols; e.g. AAPL for Apple

            Returns:
                    metrics_list (lst): List of key metrics in the given order:
                    1. Market Capitilisation (Market_cap)
                    2. Revenue (Revenue)
                    3. Profit Margin (Profit_margin)
                    4. Earning per Share (EPS)
                    5. Profit to Earnings ratio (PE_ratio)
                    6. Profit to Earnings Growth ratio (PEG)
    '''  
    # replaces a '.' to '-' in any symbol to produce the correct url to scrape data
    if "." in symbol:
        symbol = symbol.replace(".","-")
        
    statistics_url = ("https://finance.yahoo.com/quote/{symbol}/key-statistics?p={symbol}").format(symbol = symbol)
    response = requests.get(statistics_url, headers= {'User-agent': 'Mozilla/5.0'})
    df = pd.read_html(response.text)
    
    # Extracts individual metrics from the tables (use of iat over iloc to increase speed of extraction)
    Market_cap = df[0].iat[0,1]
    Revenue = df[-3].iat[0,1]
    Profit_margin = df[5].iat[0,1]
    EPS = df[-3].iat[6,1]
    PE_ratio =  df[0].iat[2,1]
    PEG = df[0].iat[4,1]
    
    metrics_list = [Market_cap, Revenue, Profit_margin, EPS, PE_ratio, PEG]
    
    return metrics_list


# creating an empty list to store the metrics
metrics = []

# loops through symbols to extract 
for i in range(len(SnP500_raw)):
    
    # try/except to catch out any pages with errors
    try:
        symbol = SnP500_raw.iat[i,0]
        input_list = yahoo_api_statistics(symbol)
        metrics.append(input_list)
    except:
        print(symbol)

In [11]:
# columns with units, where B = Billions and TTM = Trailing Twelve Months
columns_to_add = ['Market Cap / B', 'Revenue (TTM) / B', 'Profit Margin / %', 'Earnings per Share (TTM) / $', 'Price to Earning ratio (TTM)', 'Price to Earnings Growth ratio (5yr expected)']

# converting lists of lists into a dataframe
metrics = pd.DataFrame(data = metrics, columns = columns_to_add)

# slicing the raw dataframe to acquire the required columns only 
SnP500_sliced = SnP500_raw[['Symbol','Security','GICS Sector', 'Headquarters Location']]

# merging the two dataframes
SnP500_metrics_raw = pd.concat([SnP500_sliced,metrics], axis = 1)

# saving the merged dataframe as csv file in the directory of this Jupyter Notebook
SnP500_metrics_raw.to_csv("SnP500_raw_data.csv", index= False)

## Step 2: Data Preparation & Cleaning
***
The following is performed sequentially to prepare the data for analysis:
- Column headings are simplified where possible (e.g. Security is changed to Company) to make it more understandable
- Column Headquarters Location is split into two columns, HQ Country and HQ State/City. This because the initial column contain a mix of 'City,State,Country', 'State,Country' and 'City,Country'
- Missing values are identified and quantified for any columns with numeric values to create a logical strategy to clean data
    1. For columns, Market Cap, Revenue, Profit Margin, and Earnings per Share, any units with the value is removed and then rounded to 2 decimal places
    2. The list of companies is then ordered from the largest to smallest Market Cap
    3. Column Price to Earnings Growth (5yr expected) is dropped due to being a
    4. Missing values in Price to Earnings ratio is filled by calculating from raw data using the formula:
        - `PE = current share price / (sum of EPS over the last 4 quarters)`
    5. Price to Earnings ratio values are then standardised, any units are removed, values are rounded to 2 decimal places, and any incorrect values are corrected (i.e. where PE ratio doesnt share the same sign as EPS, as illustrated by the equation)

In [13]:
# reading csv file
SnP500_raw_file_data = pd.read_csv("SnP500_raw_data.csv")
SnP500_raw_file_data.head()

,Symbol,Security,GICS Sector,Headquarters Location,Market Cap / B,Revenue (TTM) / B,Profit Margin / %,Earnings per Share (TTM) / $,Price to Earning ratio (TTM),Price to Earnings Growth ratio (5yr expected)
0,MMM,3M,Industrials,"Saint Paul, Minnesota",57.04B,32.75B,-22.59%,-13.31,16.99,3.79
1,AOS,A. O. Smith,Industrials,"Milwaukee, Wisconsin",11.60B,3.8B,7.87%,2.01,38.81,2.00
2,ABT,Abbott,Health Care,"North Chicago, Illinois",180.64B,39.96B,12.92%,2.94,35.39,24.94
3,ABBV,AbbVie,Health Care,"North Chicago, Illinois",261.25B,55.14B,11.81%,3.65,40.54,3.61
4,ACN,Accenture,Information Technology,"Dublin, Ireland",210.31B,64.11B,10.72%,10.76,31.11,2.74

In [17]:
# simplify column names
SnP500_columns_renamed = SnP500_raw_file_data.copy()
SnP500_columns_renamed = SnP500_columns_renamed.rename(columns={"Security": "Company", "Headquarters Location": "HQ Country"})
SnP500_columns_renamed.head()

,Symbol,Company,GICS Sector,HQ Country,Market Cap / B,Revenue (TTM) / B,Profit Margin / %,Earnings per Share (TTM) / $,Price to Earning ratio (TTM),Price to Earnings Growth ratio (5yr expected)
0,MMM,3M,Industrials,"Saint Paul, Minnesota",57.04B,32.75B,-22.59%,-13.31,16.99,3.79
1,AOS,A. O. Smith,Industrials,"Milwaukee, Wisconsin",11.60B,3.8B,7.87%,2.01,38.81,2.00
2,ABT,Abbott,Health Care,"North Chicago, Illinois",180.64B,39.96B,12.92%,2.94,35.39,24.94
3,ABBV,AbbVie,Health Care,"North Chicago, Illinois",261.25B,55.14B,11.81%,3.65,40.54,3.61
4,ACN,Accenture,Information Technology,"Dublin, Ireland",210.31B,64.11B,10.72%,10.76,31.11,2.74

In [18]:
# identify which columns have missing values and how many
print(SnP500_columns_renamed.isna().sum())

# as such columns 'Price to Earning ratio' and 'Price to Earnings Growth ratio' will be cleaned last

Symbol                                            0
Company                                           0
GICS Sector                                       0
HQ Country                                        0
Market Cap / B                                    0
Revenue (TTM) / B                                 0
Profit Margin / %                                 0
Earnings per Share (TTM) / $                      0
Price to Earning ratio (TTM)                     20
Price to Earnings Growth ratio (5yr expected)    94
dtype: int64

In [19]:
# standardising HQ country column to contain countries only

# scraping all American states from Wikipedia
url_link= 'https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States'
response = requests.get(url_link)
american_states = pd.read_html(response.text)[1].iloc[:,0]

# cleaning data fetched from Wikipedia
american_states = list(american_states.str.rstrip(to_strip="[B]"))
print(american_states)

# indentifying unique countries/states, and duplication
unique_states_countries = set([location.split(',')[-1].strip() for location in list(SnP500_columns_renamed.iloc[:,3])])  
print(unique_states_countries)

# creating a copy of dataframe where HQ location data can be cleaned 
SnP500_HQ_location_cleaned = SnP500_columns_renamed.copy()

# creating empty list to store the states or city extracted from the HQ location column
state_or_city = []

# looping through the HQ Country column and changing values individually
for i in range(len(SnP500_columns_renamed)):
    
    location = (SnP500_columns_renamed.iat[i,3]).split(',')[-1].strip()
    
    if (location in american_states) or (location == "D.C."):
        
        SnP500_HQ_location_cleaned.iat[i,3] = "United States"
    
        if location == "D.C.":
            state_or_city.append("Washington")
        else:
            state_or_city.append(location)
            
    elif location == "UK":
        
        SnP500_HQ_location_cleaned.iat[i,3] = "United Kingdom"
        state_or_city.append(((SnP500_columns_renamed.iat[i,3]).split(',')[-2]).strip())
    
    else:
        
        SnP500_HQ_location_cleaned.iat[i,3] = location
        state_or_city.append(((SnP500_columns_renamed.iat[i,3]).split(',')[-2]).strip())

# converting list to pandas Dataframe
state_or_city = pd.DataFrame(data = state_or_city)

# inserting Dataframe to the main dataset
SnP500_HQ_location_cleaned.insert(loc = 4, value = state_or_city, column = "HQ State/City")

# saving as csv to for reference and checking entire dataset
SnP500_HQ_location_cleaned.to_csv("tests/test1_HQ_Location.csv", index= False)

['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']
{'Iowa', 'Virginia', 'New Jersey', 'New York', 'Switzerland', 'Oregon', 'Indiana', 'Israel', 'Nevada', 'Utah', 'UK', 'Florida', 'Alabama', 'D.C.', 'Rhode Island', 'Illinois', 'Arizona', 'Colorado', 'Netherlands', 'Massachusetts', 'Louisiana', 'Wisconsin', 'Montana', 'Bermuda', 'North Carolina', 'Ireland', 'Oklahoma', 'California', 'Canada', 'Tennessee', 'Washington', 'Georgia', 'Michigan', 'Connecticut', 'Minnesota', 'Missouri', 'Ohio', 'Maryland', 'Idaho', 'Kentucky', 'Maine', 'Texas', 'Pennsylvania', 'United Kingdom', 'Nebraska', 'Arkansas', 'Delaware'}

In [140]:
# checking head data
SnP500_HQ_location_cleaned.head()

,Symbol,Company,GICS Sector,HQ Country,HQ State/City,Market Cap / B,Revenue (TTM) / B,Profit Margin / %,Earnings per Share (TTM) / $,Price to Earning ratio (TTM),Price to Earnings Growth ratio (5yr expected)
0,MMM,3M,Industrials,United States,Minnesota,57.04B,32.75B,-22.59%,-13.31,16.99,3.79
1,AOS,A. O. Smith,Industrials,United States,Wisconsin,11.60B,3.8B,7.87%,2.01,38.81,2.00
2,ABT,Abbott,Health Care,United States,Illinois,180.64B,39.96B,12.92%,2.94,35.39,24.94
3,ABBV,AbbVie,Health Care,United States,Illinois,261.25B,55.14B,11.81%,3.65,40.54,3.61
4,ACN,Accenture,Information Technology,Ireland,Dublin,210.31B,64.11B,10.72%,10.76,31.11,2.74

In [40]:
# checking data types of numeric columns (from Market Cap onwards) and to see if they may contain any units
SnP500_HQ_location_cleaned.info()

# based on this column Earnings per Share contains only numeric, and therefore only needs to be standardised to 2 decimal 
# places, and the rest of the columns may contain units and or nan values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 11 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Symbol                                         503 non-null    object
 1   Company                                        503 non-null    object
 2   GICS Sector                                    503 non-null    object
 3   HQ Country                                     503 non-null    object
 4   HQ State/City                                  503 non-null    object
 5   Market Cap / B                                 503 non-null    object
 6   Revenue (TTM) / B                              503 non-null    object
 7   Profit Margin / %                              503 non-null    object
 8   Earnings per Share (TTM) / $                   503 non-null    float64
 9   Price to Earning ratio (TTM)                   483 non-null    object
 10  Price to Earnings Growth ratio (5yr expected)  409 non-null    float64
dtypes: float64(2), object(9)
memory usage: 43.4+ KB

In [141]:
# creating a copy of dataframe where values for 'Market Cap', 'Revenue' and Profit Margin' can be cleaned 
SnP500_units_cleaned = SnP500_HQ_location_cleaned.copy()

# checking for different units in columns Market Cap and Revenue
units_market_cap = set(SnP500_units_cleaned['Market Cap / B'].str.slice(-1))
units_revenue = set(SnP500_units_cleaned['Revenue (TTM) / B'].str.slice(-1))
units_profit_margin = set(SnP500_units_cleaned['Profit Margin / %'].str.slice(-1))
print(units_market_cap)
print(units_revenue)
print(units_profit_margin)

# based on this all three columns need to have the units removed and rounded to 2 decimal places, and EPS column only needs 
# to be rounded to 2 decimal places

# iterating through all rows of data and adjusting values for all four columns
for i in range(len(SnP500_units_cleaned)):
    
    SnP500_units_cleaned.iat[i,7] = round(float(SnP500_units_cleaned.iat[i,7][:-1]), decimals=2)
    SnP500_units_cleaned.iat[i,8] = round(float(SnP500_units_cleaned.iat[i,8]), decimals=2)
    
    if SnP500_units_cleaned.iat[i,5][-1]=="T":
        SnP500_units_cleaned.iat[i,5] = round(float(SnP500_units_cleaned.iat[i,5][:-1])*1000, decimals=2)
    else:
        SnP500_units_cleaned.iat[i,5] = round(float(SnP500_units_cleaned.iat[i,5][:-1]), decimals=2)
        
    
    if SnP500_units_cleaned.iat[i,6][-1]=="M":
        SnP500_units_cleaned.iat[i,6] = round(float(SnP500_units_cleaned.iat[i,6][:-1])/1000, decimals=2)
    else:
        SnP500_units_cleaned.iat[i,6] = round(float(SnP500_units_cleaned.iat[i,6][:-1]), decimals=2)

# saving as csv to for reference and checking entire dataset
SnP500_units_cleaned.to_csv("tests/test2_Standardising_Units.csv", index= False)

{'B', 'T'}
{'B', 'M'}
{'%'}

In [142]:
# checking head data
SnP500_units_cleaned.head()

,Symbol,Company,GICS Sector,HQ Country,HQ State/City,Market Cap / B,Revenue (TTM) / B,Profit Margin / %,Earnings per Share (TTM) / $,Price to Earning ratio (TTM),Price to Earnings Growth ratio (5yr expected)
0,MMM,3M,Industrials,United States,Minnesota,57.04,32.75,-22.59,-13.31,16.99,3.79
1,AOS,A. O. Smith,Industrials,United States,Wisconsin,11.6,3.8,7.87,2.01,38.81,2.00
2,ABT,Abbott,Health Care,United States,Illinois,180.64,39.96,12.92,2.94,35.39,24.94
3,ABBV,AbbVie,Health Care,United States,Illinois,261.25,55.14,11.81,3.65,40.54,3.61
4,ACN,Accenture,Information Technology,Ireland,Dublin,210.31,64.11,10.72,10.76,31.11,2.74

In [143]:
# create a copy to arrange companies based on market capitalisation
SnP500_sorted = SnP500_units_cleaned.copy()

# ordering the companys based on largest 'Market Cap' to the smallest, and readjusting the index values to reflect ranking
SnP500_sorted = SnP500_sorted.sort_values("Market Cap / B", ascending = False, ignore_index=True)

# checking head data
SnP500_sorted.head()

,Symbol,Company,GICS Sector,HQ Country,HQ State/City,Market Cap / B,Revenue (TTM) / B,Profit Margin / %,Earnings per Share (TTM) / $,Price to Earning ratio (TTM),Price to Earnings Growth ratio (5yr expected)
0,AAPL,Apple Inc.,Information Technology,United States,California,3020.0,383.29,25.31,6.14,31.69,2.33
1,MSFT,Microsoft,Information Technology,United States,Washington,2760.0,218.31,35.31,10.31,35.94,2.21
2,GOOG,Alphabet Inc. (Class C),Communication Services,United States,California,1720.0,297.13,22.46,5.22,26.52,1.30
3,GOOGL,Alphabet Inc. (Class A),Communication Services,United States,California,1720.0,297.13,22.46,5.22,26.24,1.29
4,AMZN,Amazon,Consumer Discretionary,United States,Washington,1520.0,554.03,3.62,1.91,76.90,2.42

In [195]:
# saving as csv to for reference and checking entire dataset
SnP500_sorted.to_csv("tests/test3_Market_Cap_Ordering.csv", index= False)

In [196]:
# ensuring data quality maintained by checking on null values
print(SnP500_sorted.isna().sum())

Symbol                                            0
Company                                           0
GICS Sector                                       0
HQ Country                                        0
HQ State/City                                     0
Market Cap / B                                    0
Revenue (TTM) / B                                 0
Profit Margin / %                                 0
Earnings per Share (TTM) / $                      0
Price to Earning ratio (TTM)                     20
Price to Earnings Growth ratio (5yr expected)    94
dtype: int64

In [197]:
# upon research, it was found that PEG (5yr forecasted) is a niche ratio that is presented in Yahoo finance, as such there
# are a significant datapoints which are missing which are not found in other open stock websites, moreover, the datapoints
# required to calculate from its formula are also missing. therefore, it was decided to drop the column entirely

SnP500_PEG_dropped = SnP500_sorted.drop(labels="Price to Earnings Growth ratio (5yr expected)", axis = 1)

# saving as csv to for reference and checking entire dataset
SnP500_PEG_dropped.to_csv("tests/test4_PEG_column_dropped.csv", index= False)

In [198]:
# checking head data
SnP500_PEG_dropped.head()

,Symbol,Company,GICS Sector,HQ Country,HQ State/City,Market Cap / B,Revenue (TTM) / B,Profit Margin / %,Earnings per Share (TTM) / $,Price to Earning ratio (TTM)
0,AAPL,Apple Inc.,Information Technology,United States,California,3020.0,383.29,25.31,6.14,31.69
1,MSFT,Microsoft,Information Technology,United States,Washington,2760.0,218.31,35.31,10.31,35.94
2,GOOG,Alphabet Inc. (Class C),Communication Services,United States,California,1720.0,297.13,22.46,5.22,26.52
3,GOOGL,Alphabet Inc. (Class A),Communication Services,United States,California,1720.0,297.13,22.46,5.22,26.24
4,AMZN,Amazon,Consumer Discretionary,United States,Washington,1520.0,554.03,3.62,1.91,76.90

In [199]:
# filling out missing PE ratios with raw data from Yahoo finance

# finding out which companies have missing PE ratios
companies_with_no_PE_ratios = list(SnP500_PEG_dropped['Symbol'][SnP500_PEG_dropped['Price to Earning ratio (TTM)'].isna()])
print(companies_with_no_PE_ratios)

# creating a function which utilises functions from yfinance python library
# (https://github.com/ranaroussi/yfinance/tree/main) to extract EPS data from quartery income statement and current share
# price
def yahoo_finance_PE_ratio(symbol:str):
    '''
    Returns Profit to Earnings ratio.

            Parameters:
                    symbol (str): Stock symbols; e.g. AAPL for Apple

            Returns:
                    Profit to Earnings ratio: calculated by dividing current share price 
                    by the sum of EPS over the last 4 quarters
    '''  
    company = yf.Ticker(symbol)
    PE_ratio = (company.info['currentPrice'])/(company.quarterly_income_stmt.iloc[20,0:4].sum())
    return PE_ratio 

# iterating through the list of companies with no PE_ratio and using the function to calculate it
for company in companies_with_no_PE_ratios:
    PE_ratio = yahoo_finance_PE_ratio(company)
    index = SnP500_PEG_dropped.index[SnP500_PEG_dropped['Symbol']==company]
    SnP500_PEG_dropped.iat[index[0],9] = round(PE_ratio, decimals=2)

['INTC', 'BA', 'T', 'MET', 'ALL', 'FIS', 'WBD', 'TTWO', 'ILMN', 'TSN', 'STX', 'WDC', 'SWK', 'SJM', 'AES', 'NRG', 'PARA', 'QRVO', 'BIO', 'CTLT']

In [200]:
# checking that there are no missing PE_ratios anymore
print(SnP500_PEG_dropped.isna().sum())

Symbol                          0
Company                         0
GICS Sector                     0
HQ Country                      0
HQ State/City                   0
Market Cap / B                  0
Revenue (TTM) / B               0
Profit Margin / %               0
Earnings per Share (TTM) / $    0
Price to Earning ratio (TTM)    0
dtype: int64

In [201]:
# checking head data
SnP500_PEG_dropped.head()

,Symbol,Company,GICS Sector,HQ Country,HQ State/City,Market Cap / B,Revenue (TTM) / B,Profit Margin / %,Earnings per Share (TTM) / $,Price to Earning ratio (TTM)
0,AAPL,Apple Inc.,Information Technology,United States,California,3020.0,383.29,25.31,6.14,31.69
1,MSFT,Microsoft,Information Technology,United States,Washington,2760.0,218.31,35.31,10.31,35.94
2,GOOG,Alphabet Inc. (Class C),Communication Services,United States,California,1720.0,297.13,22.46,5.22,26.52
3,GOOGL,Alphabet Inc. (Class A),Communication Services,United States,California,1720.0,297.13,22.46,5.22,26.24
4,AMZN,Amazon,Consumer Discretionary,United States,Washington,1520.0,554.03,3.62,1.91,76.90

In [202]:
# given that there are no missing PE_ratios, now checking for any units in Price to Earnings column
units_pe = set(SnP500_PEG_dropped['Price to Earning ratio (TTM)'].str.slice(-1))
print(units_pe)

{'6', '7', '0', '3', '1', '9', nan, '2', 'k', '4', '8', '5'}

In [203]:
# as such there are some values with unit 'k' which need removing and rounding values to 2 decimal places
for i in range(len(SnP500_PEG_dropped)):

    if type(SnP500_PEG_dropped.iat[i,9])==str:
        if SnP500_PEG_dropped.iat[i,9][-1]=='k':
            SnP500_PEG_dropped.iat[i,9] = round(float(SnP500_PEG_dropped.iat[i,9][:-1]), decimals=2)

In [204]:
# changing data types to float for numeric columns
SnP500_PEG_dropped[['Market Cap / B', 'Revenue (TTM) / B', 'Profit Margin / %', 'Earnings per Share (TTM) / $', 'Price to Earning ratio (TTM)']] = SnP500_PEG_dropped[['Market Cap / B', 'Revenue (TTM) / B', 'Profit Margin / %', 'Earnings per Share (TTM) / $', 'Price to Earning ratio (TTM)']].astype(float)

In [205]:
# checking for data type conversion
SnP500_PEG_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Symbol                        503 non-null    object
 1   Company                       503 non-null    object
 2   GICS Sector                   503 non-null    object
 3   HQ Country                    503 non-null    object
 4   HQ State/City                 503 non-null    object
 5   Market Cap / B                503 non-null    float64
 6   Revenue (TTM) / B             503 non-null    float64
 7   Profit Margin / %             503 non-null    float64
 8   Earnings per Share (TTM) / $  503 non-null    float64
 9   Price to Earning ratio (TTM)  503 non-null    float64
dtypes: float64(5), object(5)
memory usage: 39.4+ KB

In [207]:
# saving as csv to for reference and checking entire dataset
SnP500_PEG_dropped.to_csv("tests/test5_No_Null_PE_ratios.csv", index= False)

In [212]:
# as per the formula, the correctness of PE ratio can be determined by comparing its sign with EPS
# so PE ratio must have the same sign as EPS, else the value for PE ratio is incorrect 

incorrect_values_for_PE = list(SnP500_PEG_dropped['Symbol'][(SnP500_PEG_dropped['Price to Earning ratio (TTM)']>0) & (SnP500_PEG_dropped['Earnings per Share (TTM) / $']<0)])
incorrect_values_for_PE_2 = list(SnP500_PEG_dropped['Symbol'][(SnP500_PEG_dropped['Price to Earning ratio (TTM)']<0) & (SnP500_PEG_dropped['Earnings per Share (TTM) / $']>0)])
print(incorrect_values_for_PE)
print(incorrect_values_for_PE_2)

# based on this there are values where PE ratios is positive and EPS value is negative

['MU', 'MMM', 'NEM', 'MRNA', 'CCL', 'WBA', 'WRK', 'NCLH', 'VFC', 'XRAY', 'HAS', 'WHR', 'MHK']
[]

In [213]:
# fixing PE values by calculating it from raw data
for company in incorrect_values_for_PE:
    PE_ratio = yahoo_finance_PE_ratio(company)
    index = SnP500_PEG_dropped.index[SnP500_PEG_dropped['Symbol']==company]
    SnP500_PEG_dropped.iat[index[0],9] = round(PE_ratio, decimals=2)

[]

In [216]:
# checking for all values to be accurate and consistent
SnP500_PEG_dropped.info()
print(SnP500_PEG_dropped.isna().sum())
incorrect_values_for_PE = list(SnP500_PEG_dropped['Symbol'][(SnP500_PEG_dropped['Price to Earning ratio (TTM)']>0) & (SnP500_PEG_dropped['Earnings per Share (TTM) / $']<0)])
print(incorrect_values_for_PE)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Symbol                        503 non-null    object
 1   Company                       503 non-null    object
 2   GICS Sector                   503 non-null    object
 3   HQ Country                    503 non-null    object
 4   HQ State/City                 503 non-null    object
 5   Market Cap / B                503 non-null    float64
 6   Revenue (TTM) / B             503 non-null    float64
 7   Profit Margin / %             503 non-null    float64
 8   Earnings per Share (TTM) / $  503 non-null    float64
 9   Price to Earning ratio (TTM)  503 non-null    float64
dtypes: float64(5), object(5)
memory usage: 39.4+ KB
Symbol                          0
Company                         0
GICS Sector                     0
HQ Country                      0
HQ State/City                   0
Market Cap / B                  0
Revenue (TTM) / B               0
Profit Margin / %               0
Earnings per Share (TTM) / $    0
Price to Earning ratio (TTM)    0
dtype: int64
[]

In [219]:
# creating a copy with new label to identify as clean dataset
SnP500_final_cleaned = SnP500_PEG_dropped.copy()

# saving cleaned dataset as csv
SnP500_final_cleaned.to_csv("tests/test6_SnP500_final_cleaned.csv", index= False)

## Step 3: Exploratory Analysis
***

## Step 4: Investigating Data-Set with questions
***

## Step 5: Conclusion
***
[placeholder]